<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FISIOCLIN</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @* menu *@
        <div class="nav-item px-3">
          
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-1"></i> Página Inicial
            </NavLink>
        </div>

        @* sei la *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="conectar">
                <i class="bi bi-box-arrow-in-right me-1"></i> Conecte-se
            </NavLink>
        </div>                

        @* agenda *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visualizaragenda">
                <i class="bi bi-calendar-check"></i> Agenda
            </NavLink>
        </div>

        @* paciente *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista_paciente">
                <i class="bi bi-people-fill"></i> Paciente
            </NavLink>
        </div>             
       
        @* funcionario *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="funcionarios">
                <i class="bi bi-person-badge-fill"></i> Funcionário
            </NavLink>
        </div>

        @* sala *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salas">
                <i class="bi bi-building"></i> Salas
            </NavLink>
        </div>

        @* tipo consulta *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipo_consulta">
                <i class="bi bi-clipboard-heart-fill"></i> Tipo consulta
            </NavLink>
        </div>

        @* cargo *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cargos">
                <i class="bi bi-briefcase-fill me-1"></i> Cargos
            </NavLink>
        </div>
    </nav>
</div>

<style>
  
    .top-row.navbar {
        background-color: #4c010a;
        font-family: 'Playfair Display', serif;
    }

    .nav-scrollable {
        background-color: #66020b; 
        font-family: 'Playfair Display', serif;
    }

       
        .nav-scrollable .nav-link {
            color: white; 
            font-family: 'Playfair Display', serif;
        }

            .nav-scrollable .nav-link.active {
                font-weight: bold;
                text-decoration: underline;
                font-family: 'Playfair Display', serif;
            }

          
            .nav-scrollable .nav-link:hover {
                color: #4c010a;
                font-family: 'Playfair Display', serif;
            }

    .nav-item {
      align-content: center;
    }

    

</style>

