<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FISIOCLIN</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Página Inicial
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="conectar">
                Conecte-se
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="menu">
              Menu 
            </NavLink>
        </div>
    </nav>
</div>

<style>
  
    .top-row.navbar {
        background-color: #4c010a;
        font-family: 'Playfair Display', serif;
    }

    .nav-scrollable {
        background-color: #66020b; 
        font-family: 'Playfair Display', serif;
    }

       
        .nav-scrollable .nav-link {
            color: white; 
            font-family: 'Playfair Display', serif;
        }

            .nav-scrollable .nav-link.active {
                font-weight: bold;
                text-decoration: underline;
                font-family: 'Playfair Display', serif;
            }

          
            .nav-scrollable .nav-link:hover {
                color: #4c010a;
                font-family: 'Playfair Display', serif;
            }

    

</style>

