@page "/cadastrarsala"

@using fisioClin.Models
@inject SalaDAO salaDAO
@inject NavigationManager nav
@using Microsoft.AspNetCore.Components.Forms

@rendermode InteractiveServer

<div class="container container-custom">
    <h2 class="mb-4">Cadastrar Salas</h2>

    <EditForm Model="_novaSala" OnValidSubmit="SalvarSala" FormName="CadastrarSalaForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- Nome da sala -->
        <div class="mb-3">
            <label class="form-label">Nome da sala</label>
            <InputText class="form-control" @bind-Value="_novaSala.Nome" />
        </div>

        <!-- Linha 1 -->
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label class="form-label">Nº da sala</label>
                <InputText class="form-control" @bind-Value="_novaSala.Numero" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Capacidade</label>
                <InputNumber class="form-control" @bind-Value="_novaSala.Capacidade" />
            </div>
        </div>

        <!-- Linha 2 -->
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label class="form-label">Tipo de sala</label>
                <InputSelect class="form-select" @bind-Value="_novaSala.Tipo">
                    <option value="">Selecione</option>
                    <option>Sala comum</option>
                    <option>Laboratório</option>
                    <option>Auditório</option>
                </InputSelect>
            </div>

            <div class="col-md-6">
                <label class="form-label">Disponibilidade</label>
                <InputSelect class="form-select" @bind-Value="_novaSala.Disponibilidade">
                    <option value="">Selecione</option>
                    <option>disponivel</option>
                    <option>ocupada</option>
                </InputSelect>
            </div>
        </div>

        <!-- Observações -->
        <div class="mb-3">
            <label class="form-label">Observações</label>
            <InputText class="form-control" @bind-Value="_novaSala.Observacao" />
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-end d-flex-gap mt-4">
            <button type="reset" class="btn btn-secondary">Limpar</button>
            <button type="submit" class="btn btn-cadastrar">Cadastrar</button>
        </div>
    </EditForm>

    <ModalSucesso @ref="_modal" Mensagem="Sala cadastrada com sucesso!" />
</div>

@code {
    private Sala _novaSala = new();
    private ModalSucesso _modal;

    private async Task SalvarSala()
    {
        try
        {
            salaDAO.Inserir(_novaSala);

            _modal.Mostrar();

            _novaSala = new Sala();
            StateHasChanged();

            await Task.Delay(5000);
            _modal.Fechar();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
